<html>
	<head>
		<title>Breaking the 64</title>
	</head>
	<body>
		<h2>Breaking the 64</h2>
		<hr />
		
		<h3>Menu</h3>
		<ul>
			<li><a href='/combos'>All combos currently in DB</a></li>
			<li><a href='/insertdata'>Insert something to db</a></li>
			<li><a href='/bywords'>Results so far by word comparison</a></li>
			<li><a href='/byfreq'>Results so far by frequency</a></li>
		</ul>
		<hr />

		{{{body}}}

		<p>{{error}}</p>

	</body>
</html>